
.bg{
    background-image: url(../imagenes/ryze.jpg)!important ;
    background-repeat: no-repeat; /* PREGUNTAR OPCION DE COMO CENTRAR*/
    .customHeight{
    height: 717px;
}
}

.col .customMargin{
    margin-left: -10px;
}