


.navbar{
    background-color: $color-principal !important;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    .container-fluid{
        margin: 0px;
        @include mb(768px){
            max-width: 768px;
        }
        @include mb(){
            max-width: 480px;
        }
        @include mb(320px){
            max-width: 320px;
        }
    }
    .navbar-brand{
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 3rem;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        transition: 1.2s;  
    }
    .nav-link.active{
        color: #fff;

    }
    .navbar-brand:hover{
        transform: scale(1.1);
        color: #fff;
    }
    .nav-link{
        margin-left: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 2px;
        transition: 1s;
    }
    .nav-link:hover{
        transform: scale(1.1);
        color: #fff;
    }
    .nav-item--sesion{
        display: none;
    }
    .login{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100px;
        gap: 12px;
        margin-top: 10px;
        p{
            align-self: center;
            color: #fff;
            font-size: 14px;
            align-self: center;
            font-family: 'Nunito', sans-serif;
            cursor: default;
            width: 40px;
        }
        img{
            display: flex;
            width: 40px;
            @include size(40px,40px);
            align-self: center;
            transition: 1s ease;
        }
        img:hover{
            transform: scale(1.3);
        }
    }
}