@import "./variables";
@import "./navbar";
@import "./index";
@import "./noticias";
@import "./parche";
@import "./guias";
@import "./guia";
@import "./esports";
@import "./login";
@import "./contacto";
@import "./form";
/*MAIN GENERAL */
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
footer{
        display: flex;
        gap: 50px;
        margin-top: 40px;
        .paralelograma{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$color-principal;
            width: 50vw;
            transform: skew(-20deg) translateX(-50px);
            h4{
                color: #fff;
                font-family: 'Oswald', sans-serif;
                font-size: 4.5em;
                font-weight: bold;
                padding: 20px;
            }
            a{
                text-decoration: none;
            }
        }
       .contacto{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-around;
            align-items: center;
            width: 50vw;
            // padding: 20px;
            .contacto__info{
                display: flex;
                justify-content: space-between;
                gap: 40px; 
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $color-principal;
                    font-family:'Oswald',sans-serif;
                    font-weight: bold;
                }
            }
            .redes{
                img{
                    @include size(40px, 40px )
                } 
                } 
            }
}
/*NAV BAR FOOTER Y SECCION PARCHE FUERON REALIZADOS SIN @INCLUDES */
@media screen and (max-width:768px){
    main{
        gap: 20px;
     }
    .navbar-nav{
        .nav-item--sesion{
            display: block;
        }
    }
    .login.hide{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .paralelograma{
            width: 100%;
            max-width: 768px;
            transform: none;
            h4{
                padding: 0px;
                margin: 20px;
            }
        }
        .contacto{
            width: 768px;
            display: flex;
            flex-direction: column;
            .contacto__info{
                gap: 90px;
                margin-left: -50px;
            }
            .redes{
                width: 100%;
                max-width: 768px;
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 10px;
            }
            
        }
    }
}
@media screen and (max-width:480px){
    footer{
        .paralelograma{
            max-width: 480px;
        }
        .contacto{
            width: 480px;
            max-width: 480px;
            margin-left:0px ;
            .contacto__info{
                max-width: 480px;
                gap:15px;
                margin-left: 10px;
            }
            .redes{
                max-width: 480px;
            }
        }
    }
    
}

