*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
/*! HEADER*/
.navbar {
    background-color: #0028be !important ;
    justify-content: space-between;
}
.navbar-brand{
    font-weight: bold!important ;;
    letter-spacing: 2px!important ;;
    font-size: 3rem !important ;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    transition: 1.2s;
}
.navbar-brand:hover{
    transform: scale(1.1);
    color: #fff;
}
.nav-link{
    margin-left: 10px;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
}
.nav-link:hover{
    transform: scale(1.1);
    color: #fff;
}
.nav-item--sesion{
    display: none;
} 
.login{
    display: flex;
    justify-content: center;
    width: 100px;
    gap: 12px;
    margin-top: 10px;
    margin-right: 30px;
}
.login p{
    color: #fff;
    font-size: 14px;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    cursor:default;
}
.login__img img {
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    transition: 1s;
}
.login__img img:hover{
    transform: scale(1.3);
}
/* header.abajo .logo,
header.abajo ul li a{
    color:#0028be;
}
header.abajo{
    background: #fff;
    padding: 15px 20px;
} */

/* !FIN HEADER GENERAL */

main{
    margin:120px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.noticia__dest{
    margin-top: 20px;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.noticia__title{
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    padding-left: 5em;
}
.noticia__titletext{
    display: flex;
    flex-direction:column;
    text-transform: uppercase;
    color: #0028be;
    font-family: 'Oswald';
    font-size: 5em;
    font-weight: bold;
}
.noticia__titletext--color{
    color: #001478
}
/*
End noticia_title


start noticia_info

*/
.noticia__contenido{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 45px 50px 50px 50px;
    gap: 2em;
}
.noticia__contenido img{
    height: 20vw;
    display: flex;
}
.noticia__card{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.noticia__card__title, .noticia__card__subtitle{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.noticia__card__title{
    font-size: 4.5em;
    font-weight: 700;
}
.noticia__card__subtitle{
    font-size: 1.2em;
}
.noticia__card__parrafo span{
    margin: 3px;
    font-weight: bolder;
    text-transform: uppercase;
}
.noticia__card__parrafo {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #000;
    display: flex;
    padding: 20px 20px 20px 40px;
}
.noticia__card__boton{
    width: 78%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    border: 1px solid #0028be;
    border-radius: 8px;
    background-color: #fff;
    color: #0028be;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
}
.noticia__card__boton:hover{
    background-color:#001478;
    color:#fff;
    transition: all 800ms ease;
}
/*end NOTICIAS


start CONTAINER*/
.container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container__card{
    width: 400px;
    margin: 20px;
    border: 1px solid #0028be;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ;
    cursor:default;
    transition: all 400ms ease;
}
.container__card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.container__card img{
    width: 100%;
    height: 210px;
}
.container__card .container__info{
    padding: 15px;
    text-align: center;
}
.container__card .card-body{
    padding: 15px;
    text-align: center;
}
.container__card .container__info span{
    font-weight: 500;
    font-family: 'Nunito',sans-serif;
    display: flex;
}
.container__card .container__info p{
    font-family:'Nunito',sans-serif;
    color: #000;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 10px;
}
.container__card .container__info h4{
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
}
.container__card .container__info a{
    padding: 5px;
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    border: 1px solid #0028be;
    color:#0028be;
    border-radius:4px;
    transition: all 400ms ease;
}
.container__card .container__info a:hover{
    background-color:#001478;
    color:#fff;
    transition: all 800ms ease;
}
.card-body span{
    font-weight: 500;
    font-family: 'Nunito',sans-serif;
    display: flex;
}
.card-body .card-title{
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
}
.card-body .card-text{
    font-family:'Nunito',sans-serif;
    color: #000;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 10px;
}
.card-body a{
    padding: 5px;
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    border: 1px solid #0028be;
    color:#0028be;
    border-radius:4px;
    transition: all 400ms ease;
}
.card-body a:hover{
    background-color:#001478;
    color:#fff;
    transition: all 800ms ease;

}
/*!FIN MAIN NOTICIAS

INICIO MAIN INDEX
*/
.index__main{
    position: relative;
    text-align: left;
}
.index__main img{
    position: relative;
    width: 100vw;
    top: -120px;
    margin-bottom: -3%;
}
.index__titulo, .index__subtitulo{
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    position: absolute;
    left: 8%;
    color: #fff;
    top: 35%;
}
.index__titulo{
    font-size: 2em;
    font-weight: bolder;
}
.index__subtitulo{
    top:40%;
    font-size: 2em;
    font-weight: bolder;
}
.slide__text{
    display: flex;
    align-self: center;
    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #0028be;
    border-top: 2px solid #000;
    margin-top: -70px;
}
.slide__noticias{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background:#fff;
    position: relative;
  }
  .slide__container{
    max-width: 1500px;
    width: 100%;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    box-shadow: 29px 22px 17px -7px rgba(0,0,0,0.1);
  }
  .slide__container .main-card{
    display: flex;
    justify-content: space-between;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{ /*mueve el elemento cuando checkbox esta checked y el ~ selecciona todoslos items que esten despues*/
    margin-left: -100%;
  }
  .slide__container .main-card .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px); /* mueve la card en ejeY*/
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito';
    color: #0028be;
    font-weight: bolder;
  }
  .cards .card .content .img{
    height: 100%;
    width: 100%;
    margin-bottom: 4px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    object-fit:cover
  }
  .card .content .date{
    display: flex;
    font-family: 'Oswald',sans-serif;
    font-size: 15px;
    font-weight: 300;
    align-self: left;
    padding-left: 4px;
    color: #000;
  }
  .card .content .slide__txt{
    font-size: 20px;
    font-family: 'Nunito',sans-serif;
    color: #0028be;
    text-align: left;
    padding: 5px;
    font-weight: 700;
  }
  .slide__container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{ /*label style con transicion*/
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #0028be;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .slide__container a{
    width: 100px;
    position: relative;
    left: 48%;
    font-family: 'Nunito' ,sans-serif;
    font-size: 1.3em;
    border: 1px solid #0028be;
    border-radius: 8px;
    padding: 4px;
    color:#0028be;
    text-decoration: none;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
  }
  .slide__container a:hover{
    background-color:#0028be;
    color: #fff;
    transition: all 0.4s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{ /* cambiamos el ancho de los labels segun cual este checked*/
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{/*se ocultalos controles del input*/
    display:none;
  }
/*! FIN SLIDE INDEX

INICIO MULTIMEDIA INDEX*/
.multimedia{
    width: 1000px;
    min-height: 20vh;
    padding: 30px;
    margin: 60px;
    display: flex;
    gap:30px;
    border-top:2px solid #000;
    align-self: center;
}
.multimedia__contenido{
    display: flex;
    gap: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self:center;
}
.multimedia__contenido img{
    width: 200px;
    height: 100px;
    display: flex;
}
.multimedia__contenido p {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 300;
}
.multimedia__contenido--negrita {
    font-family: 'Nunito',sans-serif;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}
.multimedia__contenido a{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0028be;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
}
.multimedia__contenido a:hover{
    background-color:#133dd8;
    color: #fff;
    transition: all 0.4s ease;
}

/*! TOAST BOOTSTRAP*/
.toast-header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.toast-body p{
    margin-bottom: 5px;
}
.toast-body a {
    color: #133dd8;
}
/* !FIN MULTIMEDIA INDEX

INICIO MAIN SECCION "GUIAS"*/
.main__row{
    transition: transform 1.2s;
}
.main__row:hover{
    transform: scale(1.111);
}
.main__guias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1250px;
    height: 450px;
    padding: 15px;
    gap: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.1);
}
 .main__guias h1{
    color: #0028be;
    font-family: 'Oswald',sans-serif;
    font-size: 4.5em;
    font-weight: bolder;
}
.main__guias p{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.main__tabla__campeones{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4 , auto);
    grid-template-rows: repeat(10, auto);
    padding: 20px;
    grid-template-areas:
    "topl topl topl topl "
    "fiora  darius  renekton  riven"
    "jungle jungle jungle jungle"
    "wukong xinzhao khazix  leesin"
    "mid mid mid mid"
    "zed ahri diana ziggs"
    "adc adc  adc   adc"
    "corki ezreal cait lucian"
    "support support support support"
    "yummi thresh rakan nautilus";
}
.main__guia span{
    text-transform: uppercase;
    color: #0028be;
    font-weight: bold;
    font-family: 'Oswald';
    letter-spacing: 1.2px;
}
.main__row{
    display: flex;
    flex-direction: row;
}
.main__row p{
    display: flex;
    flex-direction: column;
    align-self: left;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
}
.main__tabla__campeones h3{
    grid-area: topl;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.fiora{
    grid-area: fiora;
}
.darius{
    grid-area: darius;
}
.renekton{
    grid-area: renekton;
}
.riven{
    grid-area: riven;
}
.main__tabla__campeones h4{
    grid-area: jungle;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.wukong{
    grid-area: wukong;
}
.xinzhao{
    grid-area: xinzhao;
}
.khazix{
    grid-area: khazix;
}
.leesin{
    grid-area: leesin;
}
.main__tabla__campeones h5{
    grid-area: mid;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.zed{
    grid-area: zed;
}
.ahri{
    grid-area: ahri;
}
.diana{
    grid-area: diana;
}
.ziggs{
    grid-area: ziggs;
}
.main__tabla__campeones h6{
    grid-area: adc;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.corki{
    grid-area: corki;
}
.ezreal{
    grid-area: ezreal;
}
.cait{
    grid-area: cait;
}
.lucian{
    grid-area: lucian;
}
.main__tabla__campeones .support{
    grid-area: support;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: 'Oswald', sans-serif;
    color: #0028be;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.yummi{
    grid-area: yummi;
}
.thresh{
    grid-area: thresh;
}
.rakan{
    grid-area: rakan;
}
.nautilus{
    grid-area: nautilus;
}
/*

!FIN MAIN GUIAS


INICIO MAIN PARCHE

*/
.parche__portada{
    display: flex;
    width: 100%;
}
.parche__encabezado img{
    width: 100vw;
    margin-top: -120px;
}
.dropdown2{
    width: 800px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}
.dropdown2 .btn{
   background-color: #133dd8;
   align-self: flex-start;
   letter-spacing: 1px;
}
.parche__titulo{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    border: 1px solid #0028be;
    padding: 20px;
}
.parche__titulo p{
    text-transform: lowercase;
    font-size: 1.3rem;
    font-family: 'Nunito',sans-serif;
}
.parche__contenido{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #0028be;
    max-width: 800px;
    padding: 20px;
}
.parche__contenido h3{
    font-family: 'Oswald', sans-serif;
    font-size: 3.7em;
    margin: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.parche__contenido h5{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #0028be;
    margin: 10px;
}
.parche__contenido img{
    width: 630px;
    display: flex;
    align-self: center;
    margin: 10px;
}
.parche__contenido p{
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    display: flex;
    align-self: center;
}
.parche__contenido span {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #0028be;
    margin: 10px;
    display: flex;
    align-self: center;
}
.parche__campeones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    border: 1px solid #0028be;
    padding: 20px;
}
.parche__card{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.parche__card__campeon {
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 10px 0px 10px 0px;
}
.parche__card__cambios{
    font-family:'Nunito' ,sans-serif;
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    font-size: 1.2rem;
}
.parche__card hr{
    margin-left: 50px;
}
.parche__card__habilidades{
    display: flex;
    margin: 20px 0px 10px 40px;
    gap: 20px;
}
.parche__card__habilidades img{
    width: 40px;
    height: 40px;
    border-radius:20px;
}
.parche__card__habilidades span{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
}
.parche__card__habilidades p{
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
}
/*
!FIN MAIN PARCHE

INICIO MAIN ESPORTS

*/
.esports__titulo{
    width: 100%;
    max-width: 1250px;
    font-family: 'Oswald' ,sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -80px;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.1);
    padding: 20px;
}
.esports__titulo p{
    font-size: 2rem;
    color: #0028be;
}
.esports__titulo h1{
    color: #001478;
    font-size: 4.4rem;
    margin-left: 20px;
}
.esports__parrafo{
    margin-top: 50px;
    font-family: 'Nunito';
    font-size: 1.2rem;
    font-weight: 600;
}
.esports__titulo img{
    align-self: center;
}
.txt__dispositivo{
    display: none;
}
.esports__grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr ;
}
.card__esports {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
}
.card__esports .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card__esports .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card__esports .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__esports .front h3 {
    position: absolute;
    font-weight: bolder;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #000;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
}
.card__esports .back {
    transform: perspective(600px) rotateY(180deg);
    background:#fff;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card__esports .back .link {
    font-weight: bold;
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card__esports .back .link a {
    color:#000;
    font-family: 'Oswald' , sans-serif;
    text-decoration: none;
}
.card__esports .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card__esports .back p {
    letter-spacing: 1px;
}
.card__esports:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card__esports:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/* ? FIN CIERRE CARDS GRIDS*/

.slider__titulo{
    display: flex;
    flex-direction:column ;
    gap: 20px;
}
.slider__titulo h2{
    font-family: 'Oswald';
    font-size: 2rem;
    margin-top: 50px;
}
.slider__titulo a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 1px solid #0028be;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    align-self: center;
    color:#0028be ;
    transition: background 1s;
}
.slider__titulo a:hover{
    background-color: #0028be;
    color: #fff;
}
.carousel-item img{
    height: 700px;
    object-fit: cover;
}
.carousel-item h5{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.carousel-item a{
    font-size: 1.2rem;
}
.carousel-item .h5--color {
    color: #000;
    font-weight: bold;
}
.carousel-item .a--color{
    color:#000;
    font-size: 1.4rem;
    font-weight: bold;
}

/* ?FIN MAIN ESPORTS*/

/* ? INICIO MAIN GUIA */
.guia__titulo{
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
}
.guia__titulo h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1.4;
    align-self: flex-start;
    color: #0028be;
}
.guia__titulo p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.1px;
}
.row{
    width: 1000px;
    margin: 0 auto;
}
.guia__campeon{
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    margin: 15px;
}
.guia__campeon img {
    width: 800px;
    height: 400px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.guia__campeon h4{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:#0028be;
    display: flex;
    align-self:flex-start;
    margin-top: 20px;
}
.guia__campeon p {
    display: flex;
    max-width: 800px;
    font-family: 'Oswald',sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    align-self: center;
}
.guia__txt__main{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:#0028be;
    display: flex;
    align-self:flex-start;
    margin-top: 20px;
    margin-left: 15px;
}
.guia__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width:1000px;
    align-self: center;
}
.guia__runas{
  margin: 10px;
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  gap: 50px;
}
.guia__runas__txt{
    display: flex;
    width: 800px;
    font-family: 'Nunito', sans-serif;
    font-weight:600;
    align-self: center;
    letter-spacing: 1.2px;
    
}
.guia__habilidades{
    display: flex;
    width: 100%;
    align-self: center;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}
.guia__txt{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:#0028be;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
}
.guia__habilidades__contenido{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.guia__habilidades__contenido p{
    display: flex;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.guia__build{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    align-self: center;
    gap:20px;
    padding: 10px;
    margin-bottom: 20px;
}
.guia__build .guia__txt{ /* tuve que copiarlo de nuevo xq no me toma la fuente cuando lo pongo desde la clase */
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:#0028be;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
}
.guia__build__items{
    display: flex;
    justify-content: space-around;
}
.guia__build__items img{
    width: 46px;
    height: 46px;
}
.guia__build p{
    display: flex;
    max-width: 1000px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    align-self: center;
}
/*!INICIO FOOTER*/
.footer{
    display: flex;
    gap: 50px;
}
.paralelograma{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0028be;
    width: 50vw;
    transform: skew(-20deg) translateX(-50px);
}
.paralelograma h4{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    padding: 20px;
}
.paralelograma a {
    text-decoration: none;
}
.contacto{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    padding: 20px;
}
.contacto__info{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.contacto .contacto__info a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #0028be;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contacto .redes a img {
    width: 40px;
    height: 40px;
}
/*!MOBILE 480 , TABLET 768*/
@media screen and (max-width:768px) {
    /*!HEADER GENERAL*/
   
    .hide{
        display: none;
    }
    .index__main .index__titulo, .index__subtitulo{
        font-size: 1.4rem;
        left: 5%;
    }
    .index__subtitulo{
        margin-top: 10px;
    }
    .nav-item--sesion{
        display: block;
    }

    /*!INICIO SLIDE  */
    .slide__text{
        margin-top: -100px;
    }
    .slide__text p{
        margin: 0;
    }
    .slide__container{
        border: none;
        box-shadow: none;
    }
    .cards .card .content .slide__txt{
        color: #000;
        font-weight: 500;
    }
    .cards .card .content .date{
        color: #0028be;
    }
    .slide__container a{
        font-weight: bolder;
        display: flex;
        align-self: center;
        margin-left: -20px;
    }
    /* ? FIN SLIDE


    ? INICIO MULTIMEDIA*/
    .multimedia{
        width: 100%;
        margin: 10px 0px 50px 0px;
        border: none;
        box-shadow: none;
        flex-direction: column;
    }
    .multimedia__contenido{
        border-top: 2px solid #000;
    }
    .multimedia__frame{
        display: flex;
        align-self: center;
    }
    /*? FIN MULTIMEDIA*/


    /*?INICIO SECION NOTICIAS */
    .noticia__dest{
        display: flex;
        border: none;
        box-shadow: none;
        align-self: center;
        margin-top: 26px;
        margin-top: -120px;
    }
    .noticia__title{
        display: flex;
        align-self: center;
        padding:0px;
    }

    .noticia__contenido{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .noticia__contenido img{
        margin-top: 30px;
        height: 400px;
        width: 768px;
    }
    .noticia__card{
        display: flex;
        width: 768px;
        justify-content: center;
    }
    .noticia__card__title, .noticia__card__subtitle, span p {
        display: flex;
        align-self: center;
    }
    .noticia__card__parrafo {
        text-align: center;
    }
    .noticia__card__boton{
        width: auto;
    }
    .noticia__card__boton:hover{
        background-color: #fff;
        color:#0028be;
    }
    /*? FIN NOTICIAS  */


    /*?INICIO MULTIMEDIA */
    .container{
        width: 100%;
        max-width:768px;
        display: flex;
    }
    .container__card{
        width: 320px;
        margin: 5px;
    }
    .container__card:hover{
        display: none;
    }
    .container__card img{
        width: 100%;
        height: 200px;
    }
    .container__card .container__info span,
    .container__card .container__info p {
        font-weight: 600;
    }
    .container__card .container__info h4{
        font-weight: bolder;
        font-size: 1.09rem;
    }
    /* ?FIN CONTAINER INDEX


    ?INICIO SECCION GUIA */
    .main__guia {
        margin: 0px;
        gap: 10px;
    }
    .main__guias{
        box-shadow: none;
        border: none;
        height: 300px;
        width: 700px;
        margin-top: 20px;
        align-self: center;
        margin-left: 40px;
    }
    .main__guias h2{
        font-size: 3rem;
        margin-top: 20px;
    }
    .main__guias p {
        font-size: 1rem;
        width: 600px;
    }
    .main__row img{
        height: 110px;
        width: 110px;
    }
    .main__tabla__campeones{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(15, auto);
        padding: 20px;
        gap: 30px;
        grid-template-areas:
        "topl topl"
        "fiora  darius"
        "renekton  riven"
        "jungle jungle"
        "wukong xinzhao"
        "khazix  leesin"
        "mid mid"
        "zed ahri"
        "diana ziggs"
        "adc adc"
        "corki ezreal"
        "cait lucian"
        "support support"
        "yummi thresh"
        "rakan nautilus"
        ;
    }
    /*?FIN SECCION GUIA*/

    /* ?INICIO SECCION PARCHE*/
    .parche__portada{
        margin-bottom: 20px;
        gap: 10px;
    }
    .parche__encabezado img {
        width: 768px;
        object-fit: cover;
    }
    .dropdown2{
        width: 768px;
        margin-left: 60px;
        align-self: center;
    }
    .parche__titulo{
        border: none;
        box-shadow: none;
        margin:10px 0px 0px 0px ;
        padding-top: 0px;
    }
    .parche__contenido{
        border: none;
        width: 700px;
        padding-top: 0px;
    }
    .parche__campeones{
        border: none;
        width: 700px;
    }
    /*
    ?FIN SECCION PARCHE

    ?INICIO SECCION GUIA
    */
    .guia__titulo{
        border: none;
        box-shadow: none;
        margin-bottom: 5px;
        gap: 10px;
        margin-top: 20px;
    }
    .guia__titulo h1{
        font-size: 2.7rem;
    }
    .guia__titulo p{
        font-size: 1.1rem;
        font-weight: 600;
        
    }
    .row,
    .guia__campeon,
    .guia__campeon img,
    .guia__main,
    .guia__runas__txt,
    .guia__txt,
    .guia__txt__main,
    .guia__habilidades,
    .guia__build{
        width: 728px;
    }
    .guia__campeon{
        margin: 0px;
    }
    .container-fluid .col{
        padding: 0%;
    }
    .guia__campeon img{
        margin: 0 auto;
       width: 720px;
    }
    .guia__campeon h4{
        margin-left: 0px;
        align-self: flex-start;
    }
    .guia__txt__main .guia__txt{
        align-self: flex-start;
        margin: 0px;
    }
    .guia__habilidades__contenido p{
        letter-spacing: 1.2px;
    }
    .guia__build{
        font-weight: 600px;
    }

    /*? FIN SECCION GUIA*/

    /*? INICIO SECCION ESPORTS*/
    .esports__titulo{
        padding: 20px;
        margin-top: -120px;
    }
    .esports__parrafo{
        margin-top: 10px;
        font-size: 1rem;
    }
    .esports__titulo h1{
        font-size: 4rem;
        margin-left: 20px;
    }
    .esports__grids{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: repeat(5 , 1fr) ;
        grid-template-areas:
        "txt txt"
        "card card"
        "card card"
        "card card"
        "card card"
       ;
    }
    .txt__dispositivo{
        display: grid;
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
        margin: 0px auto;
        
    }
    .slider__titulo{
        width: 728px;
        gap:0px
    }
    .slider__titulo a{
        align-self: start;
        margin-top: 10px;
    }
    .slider__titulo a:hover{
        background-color: #fff;
        color:#0028be;
    }
    .slider__esports{
        width: 100%;
    }
    /* ? FIN SECCION SLIDE*/

    /* !INICIO FOOTER GENERAL*/
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .paralelograma{
        width: 100%;
        max-width: 768px;
        display: flex;
        transform: none;
    }
    .paralelograma h4{
        padding: 0px;
        display: flex;
        align-self: center;
        margin-left: 25px;
    }
    .contacto{
        width: 100%;
        max-width: 768px;
        padding: 0px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-self: left;
        justify-content: left;
    }
    .contacto__info{
        display: flex;
        align-self: center;
    }
    .contacto .contacto__info a{
        display: flex;
        align-self: left;
        font-size: .9rem;
    }
    .contacto .redes{
        width: 100%;
        max-width: 480px;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        padding-bottom: 10px;
    }

}
@media screen and (max-width:480px) {
   
    /*?iNICIO MAIN INDEX*/
    .index__main img{
        margin-top: 0px;
    }
    .index__main .index__titulo{
        top: 0%;
        font-size: 1rem;
    }
    .index__main .index__subtitulo{
        top: 5%;
        font-size: 1rem;
    }
    /*? FIN MAIN INDEX*/


    /*?INICIO SLIDE MAIN*/
    .slide__text{
        margin-top: -120px;
    }
    .content{
        padding: 5px;
    }
    .main-card .cards .card{
        width: calc(100% / 1 - 10px);
    }
    .slide__container a{
        display: flex;
        align-self: center;
        left: 45.5%;
    }
    /*?FIN SLIDE */


    /*?INICIO MULTIMEDIA*/
    .multimedia{
        margin: 10px;
        width: 100%;
        padding: 5px;
    }
    .multimedia__frame{
        width: 470px;
        padding: 5px;
    }
    /*? FIN MULTIMEDIA Y SECCION INDEX*/


    /*?INICIO SECCION NOTICIAS*/
    .noticia__dest{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 480px;
        box-shadow: none;
        border: none;
    }
    .noticia__title{
        display: flex;
        margin: 0px;
        margin-bottom: 25px;
        justify-content: left;
        padding: 4px;
    }
    .noticia__contenido{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .noticia__contenido img{
        width: 480px;
        height:300px;
        display: flex;
        align-self: center;
    }
    .noticia__card{
        width:100%;
        max-width: 480px;
        padding: 5px;
    }
    .noticia__card__title, .noticia__card__subtitle{
        padding: 0px;
        display: flex;
        align-self: center;
    }
    .noticia__card__parrafo{
        width: 100%;
        max-width: 480px;
        padding: 20px 0px 20px 5px;
        text-align: center;
    }
    .noticia__card__parrafo span{
        font-weight: bolder;
        font-size: 1.2rem;
        margin: 0;
    }
    .noticia__card__parrafo p{
        font-weight: 600;
    }
    .noticia__card__boton{
        background-color: #fff;
        color: #0028be;
    }
    .noticia__card__boton:hover{
        background-color: #fff;
        color: #0028be;
    }
    .container{
        display: flex;
        width: 100%;
        max-width: 480px;
        align-self: center;
        gap: 5px;
        justify-content: center;
        margin: 0%;
    }
    .container__card{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 5px;
    }
    /*?FIN SECCION NOTICIAS*/

    /*?INICIO SECCION GUIAS*/
    .main__guias{
        width: 450px;
        height: 300px;
        display: flex;
        align-self: center;
        margin-left: 0%;
        margin-top:40px;
    }
    .main__guias h2{
        font-size: 2.3rem;
    }
    .main__guias p {
        width: 420px;
    }
    .main__row img{
        height: 100px;
        width: 100px;
    }
    .main__tabla__campeones{
        margin-top: 50px;
        display: grid;
        row-gap: 20px;
        padding-top: 0px;
        grid-template-columns: repeat(2 , auto);
        grid-template-rows: repeat(15, auto);
        grid-template-areas:
        "topl   topl"
        "fiora  darius"
        "renekton riven"
        "jungle jungle"
        "wukong xinzhao"
        "khazix leesin"
        "mid mid"
        "zed ahri"
        "diana ziggs"
        "adc adc "
        "corki ezreal"
        "cait lucian"
        "support support"
        "yummi thresh"
        "rakan  nautilus"
        ;
        justify-content: flex-start;
    }
    /*?FIN SECCION GUIAS*/


    /*?INICIO SECCION PARCHE*/
    .parche__encabezado img {
        width: 480px;
        height: 400px;
        object-fit: cover;
    }
    .dropdown2{
        width: 480px;
        margin-left: 60px;
        margin-bottom: 20px;
        align-self: center;
    }
    .parche__titulo h1 {
        font-size: 2.4rem;
        font-weight: bold;
    }
    .parche__contenido{
        width: 450px;
    }
    .parche__contenido img {
        width: 450px
    }
    .parche__campeones{
        width: 450px;
    }
    .parche__campeones .img--size{
        width: 450px;
        align-self: center
    }
    .parche__card{
        width:430px ;
    }
    .parche__card__habilidades{
        align-self: center ;
        margin: 20px 0px;
    }
    /*?FIN SECCION PARCHE*/


    /*?INICIO SECCION GUIA*/
    .row,
    .guia__campeon,
    .guia__campeon img,
    .guia__main,
    .guia__runas__txt,
    .guia__txt,
    .guia__txt__main,
    .guia__habilidades,
    .guia__build{
        width: 440px;
    }
    .guia__campeon img{
        width: 440px;
        height: 320px;
    }
    .guia__titulo p{
        font-size: 1rem;
        font-weight: 600;
    }
    .guia__main{
        width: 440px;
    }
    .guia__campeon{
        width: 440px;
    }
    .guia__habilidades img{
        width: 64px;
        height: 64px;
    }
    .guia__habilidades__contenido p{
        font-size: 0.8rem;
    }
    .guia__build{
        font-weight: 600px;
    }
    /*?FIN SECCION GUIA*/

    /*? INICIO SECCION ESPORTS*/
    .esports__titulo h1 {
        font-size: 3rem;
    }
    .esports__titulo p {
        font-size: 1.5rem;
    }
    .esports__parrafo{
        font-size: .9rem;
        margin-top: 30px;
    }
    .esports__grids{
        margin-top: -40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: repeat(9 , 1fr) ;
        row-gap: 20px;
        grid-template-areas:
        "txt txt"
        "card card  "
        "card card  "
        "card card  "
        "card card  "
       ;
    }
    .card__esports{
        margin: 0px auto;
        width: 200px;
        height: 200px;
    }
    .slider__titulo{
        width: 460px;
    }
    .slider__titulo h2{
        width: 450px;
        text-align: center;
        font-size: 1.6rem;
    }
    .slider__titulo a{
        align-self: center;
    }
    .slider__titulo a:hover{
        background-color: #fff;
        color:#0028be;
    }
    .slider__esports{
        display: none;
    }
    /*?FIN SECCION ESPORTS*/


    /*!INICIO FOOTER*/
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 480px;
    }
    .paralelograma{
        width: 100%;
        max-width: 480;
        display: flex;
        width: 100vh;
        transform: none;
    }
    .paralelograma h4{
        padding: 0px;
        display: flex;
        align-self: center;
        margin-left: 25px;
    }
    .contacto{
        width: 100%;
        max-width: 480px;
        padding: 0px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-self: left;
        justify-content: left;
    }
    .contacto__info{
        display: flex;
        align-self: center;
    }
    .contacto .contacto__info a{
        display: flex;
        align-self: left;
        font-size: .9rem;
    }
    .contacto .redes{
        width: 100%;
        max-width: 480px;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        padding-bottom: 10px;
    }
}
